/**INDEX*/
body{
    background-color: rgb(227, 238, 201);
}
h1{
background-color: rgb(23, 173, 61);
margin: auto;  
font-family: Verdana;
border: 50px solid  rgb(23, 173, 61);   
}

nav{
color: blue;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
font-style: oblique;
background-color:rgb(99, 186, 212);
width:250px;
line-height: 5;


}
a:link { 
 text-decoration:none; 
 
}



 li{
    list-style-type: none;
    
  }

p{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    
}